<html>
  <head>
    <title>Mail box</title>
  </head>
  <body>
  <h1><%= user_name %></h1>
  <h2><%= letter_state%></h2>
  <% letters_subject.each do |number, subject| %>
    <form method="get" action="/letter_same/<%= letter_state%>/<%= number%>">
      <p><%= subject.nil? ? no_subject : subject %></p>
      <input type="submit" value="Open">
      <br>
    </form>
  <% end %>
  <form method="get" action="/">
    <input type="submit" value="<- Back">
  </form>
  </body>
</html>
