<html>
  <meta charset="UTF-8">
  <head>
    <title>Mail box</title>
  </head>
  <body>
    <h1><%= lsubject == "" ? "Subject:  Немає теми" : "Subject:   " + lsubject %></h1>
    <h2><%= "From:   " + lfrom%></h2>
    <h2><%= "Date:   " + ldate%></h2>
    <p><%= lbody%></p>
    <br>
    <form method="get" action="/user_page/<%= user_name %>">
      <input type="submit" value="<- Back">
    </form>
  </body>
</html>
